.message-area {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.message-area .sender-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  flex: 0 0 auto;
  margin-right: 24px;
  color: rgb(200, 200, 200);
}

.message-area .sender-info img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 2px solid gray;

}

.message-area .message-text {
  font-size: 1.6rem;
  line-height: 2rem;
  color: rgb(220, 240, 244);
  opacity: 1;
  text-shadow: 0 0 4px rgb(247, 254, 255);
  animation: 2s ease-in-out 0s infinite alternate forwards running textstrobe;
}

@keyframes textstrobe {
  from {
    opacity: 1;
  }
  to {  
    opacity:0.8;
    text-shadow: 0 0 4px transparent;
  }
}


.yellow {
  color: yellow;
}

.green {
  color: rgb(0, 224, 45);
}

.red {
  color: rgb(255, 95, 95);
}

.lightblue {
  color: rgb(168, 217, 255);
  background-color: rgba(255, 255, 255, 0.284);
  border-radius: 6px;
  padding: 0.4rem 0.5rem 0.6rem;
  animation: none;
  line-height: 1rem;
  display: inline-block;
}