.opponent-board-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 1;
  gap: 8px;
  padding: 0;

  transform: translate(140%);
}

.opponent-board-container.slidein {
  animation: 1000ms cubic-bezier(0.12, 1.07, 1, 1) 200ms 1 normal forwards running opponentboardslidein;
}

.opponent-board-container.slideout {
  animation: 400ms ease-in 0s 1 reverse forwards running opponentboardslidein;
}

@keyframes opponentboardslidein {
  from {  
    transform: translate(140%);
  }
  to {
    transform: translate(0);
  }
}



.opponent-board-container h2, .opponent-board-container p {
  color: rgb(255, 133, 133);
}

.miniboard {
  display: grid;
  position: relative;
  background-color: rgba(0, 0, 255, 0.643);
  background-image: url('../../images/topographybg.png'),
    radial-gradient(
      circle,
      rgba(0, 78, 255, var(--playerboard-opacity)) 0%,
      rgba(0, 6, 120, var(--playerboard-opacity)) 26%,
      rgba(14, 31, 255, 0.5) 59%
    );
  background-repeat: no-repeat;
  background-size: 100% 100%, auto;
  width: 90%;
  aspect-ratio: 1;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid rgb(0, 28, 47);
  box-shadow: 0 0 6px 6px transparent;
}

.miniboard-overlay .ship-icon-container {
  /* position: absolute; */
  /* z-index: 150; */
  box-sizing: border-box;
  pointer-events: none;
  /* translate: -2px -2px; */
  opacity: 0;
}

.miniboard .ship-icon {
  width: 100%;
  height: 100%;
}

.miniboard-overlay {
  display: grid;
  border: 2px solid transparent;
  pointer-events: none;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border-radius: 16px;
  overflow: hidden;
  position: absolute;
  inset: 0;
  z-index: 50;
}