.placement-panel {
  transform: translate(-130%);
  transition: 
    600ms cubic-bezier(0.12, 1.07, 1, 1) 0s transform, 
    500ms ease-out 0s opacity;
}

.placement-panel.slidein {
  transform: translate(0%);
  /* animation: 1000ms cubic-bezier(0.12, 1.07, 1, 1) 0s 1 normal forwards running placementpanelslidein; */
}

.placement-panel.fadeout {
  opacity: 0;
}

.placement-panel.slidein.boardflash {
  animation: 
    1000ms cubic-bezier(0.12, 1.07, 1, 1) 0s 1 normal forwards running placementpanelslidein,
    1.6s linear 0s infinite alternate both running boardflash;
}

.placement-panel.slideout {
  animation: 400ms ease-in 0s 1 reverse forwards running placementpanelslidein;
}

@keyframes placementpanelslidein {
  from {  
    transform: translate(-140%);
  }
  to {
    transform: translate(0);
  }
}

/* Target the heading of the panel */
.placement-panel > h3 {
  text-align: center;
  font-size: 1.4rem;
}

/* Target the add ship description */
.placement-panel > p {
  text-align: center;
  letter-spacing: 0;
  line-height: 1.2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

@media screen and (max-height: 550px) {
  .placement-panel > p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}

#addShipSelection {
  display: flex;
  flex-direction: column;
  margin: 12px 0 12px 0;
  gap: 1vh;
}

#addShipSelection > label {
  cursor: pointer;
  position: relative;
  min-height: 6vh;
  display: flex;
  align-items: center;
}

#addShipSelection input[type='radio'] {
  appearance: none;
  width: 0;
  height: 0;
  border: 0;
  margin: 0;
}

#addShipSelection > label *:not(input) {
  pointer-events: none;
}

#addShipSelection img {
  transition: 100ms;
}

#addShipSelection > label:hover img {
  filter: invert(70%);
}

#addShipSelection input[type='radio']:checked + img {
  filter: invert(100%);
}

#addShipSelection label.ship-placed > img {
  filter: invert(70%);
}

#addShipSelection div.ship-placed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30px;
  color: rgb(19, 199, 19);
  font-size: 3rem;
  font-weight: bold;
}

.start-game-button {
  border-radius: 16px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 6px 36px;
  font-weight: bold;
  border: 1px solid rgba(255, 0, 0, 0.169);
  box-shadow: 0px 0px 7px 3px rgba(42, 1, 1, 0.558);
  transition: background-color 500ms;
  cursor: pointer;
}

.start-game-button.start-button-strobe {
  animation: 1.3s linear 0s infinite alternate-reverse both running
    start-button-strobe;
}

.start-game-button:hover {
  background-color: rgb(241, 0, 0);
  animation: none;
}

@keyframes start-button-strobe {
  0% {
    background-color: black;
  }
  100% {
    background-color: rgb(173, 0, 0);
  }
}