.confirmation-dialog {
  background-color: rgba(59, 57, 53, 0.825);
  border: 1px solid red;
  border-radius: 24px;
  padding: 38px 78px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap:36px;
}

.join-game-dialog {
  width: 600px;
  line-height: 2.4rem;
  font-style: italic;
  font-family: Arial, 'Trebuchet MS', sans-serif;
  /* color: rgb(255, 155, 155); */
}

.confirmation-dialog button {
  font-size: 20px;
  padding: 6px 24px;
  border-radius: 12px;
  border: none;
  background-color: rgb(174, 174, 174);
  transition: 200ms;
}

.confirmation-dialog button:hover {
  background-color: rgb(232, 232, 232);
  box-shadow: 0 0 4px 4px rgba(156, 156, 184, 0.402);
}

.models-progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.models-progress-bar-container h3,
.models-progress-bar-container h4 {
  color: rgb(180, 216, 255);
}

.model-load-progress-bar {
  margin: 0 16px;
  height: 20px;
  width: 200px;
}

.opponent-ships-placed-minitext {
  grid-area: ob;
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  padding-top:100px;
}

.opponent-ships-placed-minitext h3 {
  color: rgba(255, 255, 255, 0.581);
  line-height: 2.2rem;
  text-align: center;
}