

/* Heading styling */










/* Aside#health styling */



/* Main styling */



/* Section styling (enemy board) */





/* #opponentboard::after {
  content: '';
  position: absolute;
  inset: 0;
  transform: scale(1);
  background-image: radial-gradient(
    circle,
    rgba(255, 0, 0, 0) 50%,
    rgba(255, 0, 0, 1) 50%,
    rgba(255, 0, 0, 0) 70%
  );
} */

/* Aside stats styling */



/* End game dialog */







/* Animations */

