section {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

#opponentboard {
  display: grid;
  position: absolute;
  background-color: rgba(0, 0, 255, 0.643);
  background-image: url('./images/topographybg.png'),
    radial-gradient(
      circle,
      rgba(0, 78, 255, var(--playerboard-opacity)) 0%,
      rgba(0, 6, 120, var(--playerboard-opacity)) 26%,
      rgba(14, 31, 255, 0.5) 59%
    );
  background-repeat: no-repeat;
  background-size: 100% 100%, auto;
  width: 90%;
  aspect-ratio: 1;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid rgb(0, 28, 47);
  box-shadow: 0 0 6px 6px transparent;
}

#opponentboard .ship-icon-container {
  position: absolute;
  z-index: 150;
  /* border: 1px solid red; */
  box-sizing: border-box;
  pointer-events: none;
  translate: -2px -2px;
  opacity: 0;
}

#opponentboard .ship-icon {
  width: 100%;
  height: 100%;
}